.features__list {
  display: flex;
}

.features__list .features__item {
  margin-right: 30px;
}

.features__list .item:last-child {
  margin-right: 0;
}

.features__title {
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  color: var(--text-color);
  max-width: 270px;
  min-height: 75px;
}

.features--section {
  padding-bottom: 0;
}

.features__icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
