.team-list {
  display: flex;
}

.team-list .team-item + .team-item {
  margin-left: 30px;
}

.team-item {
  max-width: 270px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--primary-bg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-image {
  height: auto;
  display: block;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  font-weight: 500;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-position {
  color: var(--text-color);
  margin-bottom: 16px;
}
