.header {
  border-bottom: 1px solid #ececec;
}

.site-nav {
  display: flex;
}

.features {
  font-size: 14px;
  letter-spacing: 0.03em;
}

.team {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.button {
  border-radius: 4px;
  border: 0px;
  color: $first-contrast-text-color;
  background-color: $accent-color;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
}

.footer {
  padding-bottom: 60px;
  background-color: $dark-bg-color;
}
